div#call-join {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    margin: 5rem auto 0 auto;

    div#title {
        display: flex;
        flex-direction: column;
        gap: .25rem;

        .MuiTypography-body2 {
            margin-top: .5rem;
            color: var(--text-secondary);
        }
    }

    div#buttons {
        display: flex;
        gap: 2rem;
        justify-items: center;

        button {
            width: 20%;
        }
    }
}