div#sign-in-wrap {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    div#head {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    div#bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        text-align: center;
    }
}