.rbc-event {
    background-color: var(--primary) !important;
    border: 1px solid var(--primary) !important;

    .rbc-event-label {
        display: none;
    }

    .rbc-event-content {
        div#calendar-event {
            display: flex;
            height: 100%;
            align-items: center;
            padding: 0 0.5rem;
        }
    }
}

