div#call-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    div#call {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .9fr .1fr;
        gap: 1rem;
        height: inherit;

        div#view {
            display: flex;
            gap: 1rem;

            div#participants {
                display: flex;
                width: 100%;
            }

            div#org-chat {
                width: 33%;
            }
        }
    }
}