div#mol-attendance-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    div#content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 1.5em;

        div.field {
            grid-column: span 1;
        }
    }
}