div#mol-chat-list {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    overflow-y: auto;
    height: 55vh;
    padding: 0 .5rem;

    div.message {
        display: flex;
        flex-direction: column;

        &.received {
            align-self: flex-start;
            max-width: 55%;

            div.content {
                border: 2px solid #d9d9d9;
                background-color: white;
                padding: 0.75rem;
                border-radius: 5px;
            }

            .MuiTypography-caption {
                opacity: .5;
                text-align: start;
            }
        }

        &.sended {
            align-self: flex-end;
            max-width: 55%;

            div.content {
                border: 2px solid var(--primary);
                background-color: var(--primary);
                color: white;
                padding: 0.75rem;
                border-radius: 5px;
            }

            .MuiTypography-caption {
                opacity: .5;
                text-align: end;
            }    
        }
    }
}