@import 'react-big-calendar/lib/sass/styles';

div#calendar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    height: 70vh;
    margin: 0 auto;

    div#content {
        position: relative;
        height: inherit;
    }
}

#calendar-label {
    font-size: 18px;
    font-weight: 400;
}

div.rbc-calendar {
    .rbc-time-view {
        border-radius: 5px;

        .rbc-day-slot .rbc-events-container {
            margin: 0 !important;
        }
    
        .rbc-time-content {
            .rbc-time-gutter {
                .rbc-timeslot-group {
                    .rbc-time-slot {
                        display: flex;
                        align-items: center;
                        padding: 0 1rem;

                        &:last-child {
                            display: none;
                        }

                        .rbc-label {
                            padding: 0;
                        }
                    }
                }
            }

            .rbc-day-slot {
                &.rbc-today {
                    background-color: rgba(58, 0, 134, 0.15);
                }
    
                .rbc-time-slot {
                    border-top: none;
                }
            }
    
            .rbc-current-time-indicator {
                background-color: var(--secondary);
                height: 3px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: -9px;
                    transform: translate(50%, -50%);
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: var(--secondary);
                    mix-blend-mode: darken;
                }
            }
        }
    }

}