div#mol-attendance-modal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 15vw;

    div#actions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        div#buttons {
            display: flex;
            justify-content: space-around;
        }
    }
}