div#profile-password {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        button {
            width: 30%;
        }
    }
}