div#header-menus {
    display: flex;
    gap: 1rem;

    button {
        div.MuiAvatar-root {
            border: 1px solid rgba(58, 0, 134, 0.5);
        }
    }
}

span#username {
    font: inherit;
    font-weight: bold;
}