* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

:root {
    --primary: #3a0086;
    --secondary: #86bd22;
}

body {
    background-color: #ececec;
}