div#attendances-pending {
    button {
        width: 200px;
        text-transform: capitalize;
    }
}

#pending-list {
    .MuiListItem-root {
        padding-right: 175px;
    }

    .MuiListItemSecondaryAction-root {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}